{% extends "layout.html" %}

{% block description%}¿Quién es el autor del libro sobre el cual esta basado el contenido de esta aplicación?{% endblock
%}

{% block title %}Sobre el autor{% endblock %}

{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Sobre el autor</h1>
        <p><strong>Daniel Welsch</strong> es un autor, bloguero, podcaster y escritor de viajes. Originario de
            Phoenix, Arizona, EE. UU., Daniel ahora reside en Barcelona, ​​España. Le apasiona enseñar inglés y
            ayudar a estudiantes de todo el mundo a mejorar sus habilidades lingüísticas..</p>
        <div class="row justify-content-center my-5">
            <div class="col-md-8">
                <img src="{{ url_for('static',filename='images/daniel.jpeg') }}" alt="foto del autor"
                    class="img-fluid rounded mx-auto d-block" width="1000" height="800">
            </div>
        </div>
        <p>Daniel es autor de varios libros sobre gramática inglesa y aprendizaje del idioma, entre ellos el popular
            "La Guía de los Tiempos Verbales". También dirige blogs educativos como madridingles.net y
            aprendemasingles.com, donde comparte recursos y consejos valiosos para hispanohablantes que están
            aprendiendo inglés.</p>

        <p>Además de escribir, Daniel presenta el podcast "Aprende Más Inglés", que cuenta con más de 300 episodios,
            y ocasionalmente crea contenido en YouTube. Su trabajo ha aparecido en publicaciones destacadas como
            Esquire y Lonely Planet.</p>

        <p>Para más información sobre Daniel y sus proyectos, puedes visitar su página web <a
                href="https://danielwelsch.com" target="_blank">danielwelsch</a>.</p>
    </div>
</div>
{% endblock %}