{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Ponte en contacto conmigo a traves de esta página{% endblock %}

{% block title %}Contáctame{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("contactMeForm").submit();
    }
</script>
{% endblock %}

{% block content %}
<br>
<main class="row justify-content-center">
    <div class="col-md-8">
        <h1>Contáctame</h1>
        <p>¡Me encantaría saber de ti! Si tienes alguna pregunta, comentario o simplemente quieres decirme hola, no
            dudes en
            comunicarte conmigo mediante cualquiera de los métodos que se indican a continuación.</p>
        <form method="post" novalidate id="contactMeForm">
            {{ form.hidden_tag() }}
            {{ input(form.name) }}
            {{ input(form.email) }}
            {# TODO: use kwargs to pass the number of rows to the text area #}
            {# BUG: When the message is to large and need to scroll it passes behind the label #}
            {{ input(form.message) }}
            <div class="form-group">
                <button class="btn btn-secondary g-recaptcha" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}