{% extends "layout.html" %}
{% block title %}Capítulo 3{% endblock %}
{% block description %}Poner algo{% endblock %}


{% block content %}

<div class="row mt-4">
    <!-- index -->
    <div class="col-md-4 d-none d-md-block sidebar rounded-3">

        <nav id="chapter-index" class="nav navbar nav-pills flex-column align-items-start">

        </nav>
    </div>

    <!-- main content -->

    <main class="col-md-8 ms-sm-auto px-md-4" data-bs-spy="scroll" data-bs-target="#chapter-index"
        data-bs-smooth-scroll="true">

        <!-- page 21 -->
        <h1 class="sectionlink">Los tiempos simples: presente y pasado</h1>
        <p><em>I work in a factory. I live in a small apartment with my girlfriend. Before, I worked in a supermarket,
                and I
                didn’t have a girlfriend. But I got the job in the factory, and the next week I met Maria. She’s great.
                She
                doesn’t have a job right now, so she stays home and looks for work. She also takes care of the house,
                and of
                our dog, Rusty. Oops! I’ve got to go – it’s time for me to start work.</em></p>
        <p>¿Preparado?</p>
        <p>Aquí vamos a ver los tiempos simples – cómo formarlos, y también cuándo usarlos.</p>
        <p>Los tiempos simples, en positivo, no tienen auxiliar. Por eso se llaman simples, porque el verbo no es
            compuesto.
            (Veremos los tiempos compuestos en el próximo capítulo.)</p>
        <p><strong>Presente simple:</strong> I work.</p>
        <p><strong>Pasado simple:</strong> I worked.</p>
        <p>Para formar negaciones, se usan verbos auxiliares: <strong>don’t</strong> y <strong>doesn’t</strong> en
            presente,
            o <strong>didn’t</strong> en pasado. Después del auxiliar negativo, el verbo principal vuelve al infinitivo.
        </p>
        <p>En presente, se usa <strong>doesn’t</strong> para tercera persona singular:</p>
        <ul>
            <li><em>I don’t work in an office.</em></li>
            <li><em>You don’t work in an office.</em></li>
            <li><em>He / She doesn’t work in an office.</em></li>
            <li><em>We don’t work in an office.</em></li>
            <li><em>They don’t work in an office.</em></li>
        </ul>
        <p>En pasado, se usa <strong>didn’t</strong> igual para todas las personas:</p>
        <!-- page 22 -->

        <ul>
            <li><em>I didn’t work in an office.</em></li>
            <li><em>You didn’t work in an office.</em></li>
            <li><em>He / She didn’t work in an office.</em></li>
            <li><em>We didn’t work in an office.</em></li>
            <li><em>They didn’t work in an office.</em></li>
        </ul>
        <p>Y en las preguntas, se usa <strong>do</strong>, <strong>does</strong> o <strong>did</strong> como auxiliar… y
            va
            seguido del sujeto y luego el verbo principal en
            infinitivo.</p>
        <p>Fíjate en el orden de las palabras, que es algo que se repite en todos los tiempos verbales – se forma la
            pregunta poniendo el auxiliar antes del sujeto.</p>
        <p>En presente:</p>
        <ul>
            <li><em>Do I work in an office?</em></li>
            <li><em>Do you work in an office?</em></li>
            <li><em>Does he / she work in an office?</em></li>
            <li><em>Do we work in an office?</em></li>
            <li><em>Do they work in an office?</em></li>
        </ul>
        <p>En pasado:</p>
        <ul>
            <li><em>Did I work in an office?</em></li>
            <li><em>Did you work in an office?</em></li>
            <li><em>Did he / she work in an office?</em></li>
            <li><em>Did we work in an office?</em></li>
            <li><em>Did they work in an office?</em></li>
        </ul>

        <!-- page 23 -->

        <p>También tenemos el pronombre "<em>it</em>" que se usa para cosas. En este caso, el significado de
            <strong>work</strong> sería "funcionar".
        </p>
        <p><strong>En presente:</strong></p>

        <ul>
            <li><em>It works.</em></li>
            <li><em>It doesn’t work.</em></li>
            <li><em>Does it work?</em></li>
        </ul>

        <p><strong>En pasado:</strong></p>
        <ul>
            <li><em>It worked.</em></li>
            <li><em>It didn’t work.</em></li>
            <li><em>Did it work?</em></li>
        </ul>
        <p>La gran excepción, como siempre, es el verbo <strong>to be</strong>, que tiene más conjugaciones y que no
            sigue
            las reglas
            normales. Concretamente, se usa sin auxiliar en negación y también en pregunta.</p>
        <p>En presente, fíjate que también hay dos formas de hacer la negación:</p>
        <h2 class="sectionlink">Afirmación. Negación. Pregunta.</h2>

        <p><strong>Afirmación. Negación. Pregunta.</strong></p>
        <ul>
            <li><em>I’m here.</em> <em>I’m not here.</em> / <em>I’m not here.</em> <em>Am I here?</em></li>
            <li><em>You’re here.</em> <em>You’re not here.</em> / <em>You aren’t here.</em> <em>Are you here?</em></li>
            <li><em>He’s here.</em> <em>He’s not here.</em> / <em>He isn’t here.</em> <em>Is he here?</em></li>
            <li><em>She’s here.</em> <em>She’s not here.</em> / <em>She isn’t here.</em> <em>Is she here?</em></li>
            <li><em>It’s here.</em> <em>It’s not here.</em> / <em>It isn’t here.</em> <em>Is it here?</em></li>
            <li><em>We’re here.</em> <em>We’re not here.</em> / <em>We aren’t here.</em> <em>Are we here?</em></li>

            <!-- page 24 -->

            <li><em>They’re here.</em> <em>They’re not here.</em> / <em>They’re not here.</em> <em>Are they here?</em>
            </li>
        </ul>

        <strong>Y en pasado simple:</strong>
        <ul>
            <li><em>I was here.</em> <em>I wasn’t here.</em> <em>Was I here?</em></li>
            <li><em>You were here.</em> <em>You weren’t here.</em> <em>Were you here?</em></li>
            <li><em>He was here.</em> <em>He wasn’t here.</em> <em>Was he here?</em></li>
            <li><em>She was here.</em> <em>She wasn’t here.</em> <em>Was she here?</em></li>
            <li><em>It was here.</em> <em>It wasn’t here.</em> <em>Was it here?</em></li>
            <li><em>We were here.</em> <em>We weren’t here.</em> <em>Were we here?</em></li>
            <li><em>They were here.</em> <em>They weren’t here.</em> <em>Were they here?</em></li>
        </ul>

        <p>
            Si quieres un repaso de los usos de to be, hay unos artículos aquí:
            <a href="https://madridingles.net/curso-basico/">madridingles.net/curso-basico</a>
        </p>
        <p>Concretamente, los primeros tres artículos hablan del uso de <strong>to be</strong>.</p>

        <h2 class="sectionlink">El uso del presente simple</h2>
        <p>
            Uno podría imaginar que el presente simple habla de lo que está pasando
            ahora, pero no.
        </p>
        <p>
            Repito: el presente simple no habla de “ahora”. La historia es un poco
            más complicada.
        </p>
        <p>El presente simple se usa para:</p>

        <ol>
            <li>Hábitos y frecuencias</li>
            <li>Situaciones que vemos como permanentes</li>
        </ol>

        <p>Unos ejemplos de hábitos:</p>
        <!-- page 25 -->

        <ul>
            <li><em>I go to English class 3 times a week.</em></li>
            <li><em>I visit my parents once a month.</em></li>
            <li><em>It rains almost every day in winter.</em></li>
        </ul>

        <p>Unos ejemplos de situaciones que vemos como más permanentes:</p>
        <ul>
            <li><em>I live in Madrid.</em></li>
            <li><em>He works in a restaurant.</em></li>
            <li><em>She has a boyfriend.</em></li>
        </ul>

        <p>Las preguntas y respuestas igual:</p>

        <ul>
            <li><em>I don’t go to English class on Fridays.</em> (Un hábito que no tienes.)</li>
            <li>
                <em>She doesn’t live in California.</em> (La negación de una situación
                permanente.)
            </li>
            <li>
                <em>Does he work in a restaurant?</em> (Preguntando sobre una situación
                permanente.)
            </li>
            <li>
                <em>How often do you go to English class?</em> (Preguntando por la frecuencia de
                un hábito.)
            </li>
        </ul>
        <p>
            También, se usa el presente simple para hablar del futuro, cosa que
            veremos más adelante. Y para hablar de lo que está pasando ahora mismo, se
            usa el presente continuo: uno de los temas del próximo capítulo.
        </p>


        <h2 class="sectionlink">El uso del pasado simple</h2>
        <p>
            El pasado simple se usa para acciones terminadas en el pasado. Se usa
            para hablar de algo que pasó en un momento específico del pasado.
        </p>
        <p>
            Muchas veces se menciona el momento específico, otras veces no se
            menciona, pero está en la mente de la persona que habla.
        </p>


        <!-- page 26 -->

        <p><em>I went to Paris three years ago.</em> (Momento específico, hace tres años.)</p>
        <p><em>She bought those shoes yesterday.</em> (Momento específico, ayer.)</p>
        <p><em>I lost my passport on my last holiday.</em> (No muy específico, pero la persona que habla sabe cuándo
            pasó.)
        </p>
        <p><em>I met Sarah in Berlin.</em> (Se supone que no estoy en Berlin ahora pero sí estaba a un momento en el
            pasado.)
        </p>
        <p>Veremos más sobre el uso de esos tiempos, y de expresiones como “three years ago” más adelante.</p>
        <p>En negaciones y en preguntas, se usa para lo mismo: para hablar de algo que pasó (o no pasó) en un momento
            específico del pasado.</p>
        <p><em>I didn’t talk to Tom yesterday.</em></p>
        <p><em>I didn’t finish university in 2001, I finished in 2005.</em></p>
        <p><em>Mary didn’t go to the concert.</em></p>
        <p><b>Q:</b> Did you go to Paris on your last holiday?</p>
        <p><b>A:</b> Yes, I did.</p>
        <p><b>Q:</b> Did you see that film last week?</p>
        <p><b>A:</b> No, I didn’t.</p>
        <p><b>Q:</b> Where did you have lunch?</p>
        <p><b>A:</b> We went to a little Italian restaurant. It was great!</p>
        <p>Así que tienes los tiempos simples. Una cosa más que debería mencionar: También se puede hablar del futuro
            simple, que se forma con <strong>will</strong> + el infinitivo.</p>
        <p>Pero vamos a tratar el futuro aparte, en su propio capítulo. También

            <!-- page 27 -->

            haremos una comparación de los varios tiempos verbales: presente simple
            con pasado simple, pasado simple con presente perfecto, pasado simple con
            pasado continuo, y algunos más.
        </p>


        <p>Pero primero, una introducción a los tiempos compuestos.</p>
        <p>Adelante…</p>

    </main>

</div>
{% endblock %}