{% extends "layout.html" %}
{% block title %}Capítulo 3{% endblock %}
{% block description %}Poner algo{% endblock %}


{% block content %}

<div class="row mt-4">
    <!-- index -->
    <div class="col-md-4 d-none d-md-block sidebar rounded-3">

        <nav id="chapter-index" class="nav navbar nav-pills flex-column align-items-start">

        </nav>
    </div>

    <!-- main content -->

    <main class="col-md-8 ms-sm-auto px-md-4" data-bs-spy="scroll" data-bs-target="#chapter-index"
        data-bs-smooth-scroll="true">



    </main>

</div>
{% endblock %}