{% extends "chapters/chapter_template.html" %}

{% block chapter_content %}

<!-- page 10 -->

<h1 class="sectionlink">Las formas de los verbos</h1>

<h2 class="sectionlink">¿Cuáles son las formas de los verbos en inglés?</h2>
<p>Al final, los verbos en inglés no tienen tantas formas. El español tiene decenas de conjugaciones para
    cada
    verbo, pero el inglés tiene mucho menos.</p>
<p>Aquí veremos cuáles son las formas de los verbos (infinitivo, gerundio, participio pasado, etc.) y cómo
    cambiar
    los verbos de una forma a otra.</p>

<h3 class="sectionlink">El Infinitivo</h3>
<p>El infinitivo es el verbo sin conjugarse. Muchas veces (pero no siempre) se usa con <strong>to -</strong>
    en
    la
    gramática, el <strong>to</strong> se usa para indicar que estamos hablando del infinitivo y no otra
    forma
    del
    verbo.</p>
<p>Ejemplos de verbos en infinitivo:</p>
<p><em>Be, see, walk, go, think, say, write, know, play, drive, eat.</em></p>
<p>El infinitivo se usa en muchas estructuras donde aparece después de otro verbo.</p>
<p><em>I want to see you.</em> (Want + to + infinitivo)</p>
<p><em>I can’t help you.</em> (Can / can’t + infinitivo)</p>
<p><em>I’d love to go.</em> (Would love + to + infinitivo)</p>
<p>Más sobre este punto de los verb patterns en mi web: <a
        href="https://madridingles.net/verb-patterns">madridingles</a></p>
<p>También se usa el infinitivo después del verbo auxiliar en preguntas y negaciones en los tiempos simples:
</p>
<p><em>I don’t know.</em> (Presente simple. Don’t + infinitivo)</p>
<p><em>Do you know?</em> (Presente simple. Do + infinitivo)</p>
<p><em>I didn’t go.</em> (Pasado simple. Didn’t + infinitivo)</p>
<!-- page 11 -->
<p><em>Did you go?</em> (Pasado simple. Did + infinitivo)</p>
<p>Hablaremos más de los tiempos simples en otro capítulo – como sugiere el nombre, es bastante fácil de
    formar.
</p>
<p>Pero ya que estamos, en presente simple, la mayoría de las conjugaciones son iguales al infinitivo – la
    única
    excepción es en tercera persona singular.</p>
<ul>
    <li><em>I know you.</em></li>
    <li><em>You know him.</em></li>
    <li><em>We know them.</em></li>
    <li><em>They know us.</em></li>
</ul>
<p>Al final… ¡Es muy fácil!</p>
<p>Hay una sola excepción, como mencioné antes…</p>

<h3 class="sectionlink">Tercera Persona Singular</h3>
<p>En el presente simple, en tercera persona singular, se pone una -s al final del verbo. Para otras
    personas,
    como
    ya dijimos, el verbo es igual que el infinitivo.</p>
<p>Los pronombres para tercera persona singular son <strong>he</strong> / <strong>she</strong> /
    <strong>it</strong>
    y también se puede usar
    el nombre de una persona, un título o un objeto (en el caso de <strong>it</strong>).
</p>
<p>Aquí tienes conjugaciones para algunos verbos comunes. Como ves, las otras personas usan una conjugación
    que
    es
    igual al infinitivo. Es solo la tercera persona singular que pone la -s.</p>
<p><em>I see, you see, he sees, she sees, we see, they see.</em></p>
<p><em>I write, you write, he writes, she writes, we write, they write.</em></p>
<p><em>I know, you know, he knows, she knows, we know, they know.</em></p>
<!-- page 12 -->
<p><em>I think, you think, he thinks, she thinks, we think, they think.</em></p>
<p>Si usamos el pronombre <strong>it</strong>, es tercera persona singular igual que <strong>he</strong> y
    <strong>she</strong>. Pero
    lógicamente no puede (o debe) usarse con todos los verbos. Los objetos no hacen mucho, aparte de estar
    ahí.
    No
    piensan ni sienten, así que no se usan con verbos como <strong>think</strong> y <strong>feel</strong>.
</p>
<p>En todo caso, el pronombre <em>it</em> sí puede usarse con algunos verbos.</p>
<p><em>It works, it rains, it sounds, it grows, etc.</em></p>
<p>En eso de la tercera persona singular, hay un par de verbos irregulares. Dos verbos muy comunes,
    <em>go</em>
    y
    <strong>do</strong>, ponen <strong>-es</strong> al final en vez de la <strong>-s</strong>. Así tenemos:
</p>
<p><em>I go, you go, he goes, she goes, it goes, we go, they go.</em></p>
<p><em>I do, you do, he does, she does, it does, we do, they do.</em></p>
<p>Y el verbo <strong>have</strong> tiene una forma irregular: <strong>has</strong>.</p>
<p><em>I have, you have, he has, she has, it has, we have, they have.</em></p>
<p>Y por supuesto que tenemos el verbo más irregular y más común del inglés: el verbo <strong>to
        be</strong>.
    Este
    verbo se
    usa también como auxiliar, y tiene tres formas en presente:</p>
<p><em>I am, you are, he is, she is, it is, we are, they are.</em></p>
<p>Para más sobre las formas del verbo <strong>to be</strong>, y cómo usarlas, pásate por <a
        href="https://madridingles.net/tobe">madridingles</a></p>
<p>En presente simple no tenemos más irregularidades, pero veremos los matices de uso más adelante.</p>

<h3 class="sectionlink">El Pasado Simple</h3>
<p>Los verbos en pasado simple pueden ser regulares o irregulares. Todos los verbos regulares se terminan en
    <strong>-ed</strong>.
</p>
<!-- page 13 -->
<ul>
    <li><em>Work - worked</em></li>
    <li><em>Live - lived</em></li>
    <li><em>Like - liked</em></li>
    <li><em>Stay - stayed</em></li>
    <li><em>Change - changed</em></li>
    <li><em>Walk - walked</em></li>
    <li><em>Play - played</em></li>
    <li><em>Start - started</em></li>
</ul>
<p>Pero claro... Muchos de los verbos más comunes son irregulares. Y los verbos irregulares terminan con
    casi
    cualquier cosa menos <strong>-ed</strong>.</p>
<ul>
    <li><em>Eat - ate</em></li>
    <li><em>Go - went</em></li>
    <li><em>Break - broke</em></li>
    <li><em>Say - said</em></li>
    <li><em>Know - knew</em></li>
    <li><em>Think - thought</em></li>
    <li><em>Buy - bought</em></li>
    <li><em>Drive - drove</em></li>
    <li><em>Write - wrote</em></li>
</ul>
<p>Para una lista de verbos irregulares, véase el Apéndice 1, o pásate por mi web para descargar la lista en
    PDF: <a href="http://madridingles.net/irregulares">madridingles.net/irregulares</a></p>
<!-- page 14 -->

<h3 class="sectionlink">El Participio Pasado</h3>
<p>El participio pasado es otra forma que tienen los verbos en inglés. Los verbos regulares tienen la misma
    forma en
    pasado simple y participio pasado, o sea que el participio pasado también termina con
    <strong>-ed</strong>.
    Así
    que tenemos la
    lista de verbos de toda la vida, con tres columnas:
</p>
<ul>
    <li><em>Work - worked - worked</em></li>
    <li><em>Live - lived - lived</em></li>
    <li><em>Like - liked - liked</em></li>
    <li><em>Stay - stayed - stayed</em></li>
    <li><em>Change - changed - changed</em></li>
    <li><em>Walk - walked - walked</em></li>
    <li><em>Play - played - played</em></li>
    <li><em>Start - started - started</em></li>
</ul>
<p>Los verbos irregulares no ponen la -ed en participio pasado – tienen otras formas de conjugarse.</p>
<p>Cuando tenemos una lista de verbos irregulares con tres columnas, el participio pasado aparece en la
    tercera
    columna. Así que la lista de antes, ahora con participios pasados, sería así:</p>
<ul>
    <li><em>Eat - ate - eaten</em></li>
    <li><em>Go - went - gone</em></li>
    <li><em>Break - broke - broken</em></li>
    <li><em>Say - said - said</em></li>
    <!-- page 15 -->
    <li><em>Know - knew - known</em></li>
    <li><em>Think - thought - thought</em></li>
    <li><em>Buy - bought - bought</em></li>
    <li><em>Drive - drove - driven</em></li>
    <li><em>Write - wrote - written</em></li>
</ul>

<h3 class="sectionlink">El Gerundio</h3>
<p>El gerundio es la forma verbal que termina con -ing. Entre otras cosas, se usa para formar los tiempos
    continuos.</p>
<ul>
    <li><em>Go - going</em></li>
    <li><em>Say - saying</em></li>
    <li><em>Think - thinking</em></li>
    <li><em>Play - playing</em></li>
    <li><em>Drive - driving</em></li>
    <li><em>Listen - listening</em></li>
    <li><em>Work - working</em></li>
    <li><em>Grow - growing</em></li>
</ul>
<p>Para una explicación más larga de los gerundios (y una lista que puedes descargar e imprimir), pásate por
    mi web <a href="http://aprendeingles.com/gerundios">aprendeingles</a> o véase Apéndice 2.
</p>

<h2 class="sectionlink">Y eso es todo…</h2>
<p>SÍ, todo.</p>
<!-- page 16 -->
<p>Así que sólo hay 5 formas para cada verbo en inglés: el infinitivo, la tercera persona singular, el
    pasado
    simple, el participio pasado, y el gerundio.</p>
<p>La única excepción, como ya vimos, es el verbo <strong>to be</strong>, que tiene unas formas más en
    presente
    y pasado
    simple, para un total de 8 formas: <strong>be</strong>, <strong>am</strong>, <strong>is</strong>,
    <strong>are</strong>, <strong>was</strong>, <strong>were</strong>, <strong>been</strong>, y
    <strong>being</strong>.
</p>
<p>Eso significa que los verbos en inglés son mucho más fáciles de usar que los verbos en español: cualquier
    verbo en español tiene docenas de conjugaciones. En inglés, normalmente, sólo hay 5.</p>
<p>Para descargar una lista en PDF de los 50 verbos más importantes del inglés y sus conjugaciones, pásate
    por
    mi otra web: <a href="http://aprendemasingles.com/50verbos">aprendemasingles</a></p>
<p>En los próximos capítulos, veremos exactamente cómo y cuándo usamos estas formas para construir los
    tiempos
    verbales más importantes del inglés.</p>
<p>Vamos allá…</p>


{% endblock %}