{% extends "chapters/chapter_template.html" %}

{% block chapter_content %}
<!-- page 178 -->
<h1>Acerca del Autor</h1>
<p>Daniel  Welsch,  nació,  muy  a  su  pesar,  en  el  desierto  de  Arizona,  Estados
    Unidos.</p>
<p>Con 21 años, se mudó a Madrid, España.</p>
<p>Desde entonces ha dado clases de inglés en las más importantes empresas
    e instituciones de España. Además, sus blogs y videos han llegado a más 8
    millones de personas.</p>
<p>Hoy en día, vive en el Romántico Barrio de Tetuán al norte de Madrid, y
    disfruta mucho de la vida, la comida, el vino y el sol de España.</p>
{% endblock %}