{% extends "layout.html" %}

{% block title %}
{% if chapter_number %}
Capítulo {{ chapters[chapter_number].chapter_number }} - {{ chapters[chapter_number].name }}
{%- else %}
Capítulo en creación
{%- endif %}
{% endblock %}

{% block description %}
{% if chapter_number %}
{{ chapters[chapter_number].description }}
{%- else %}
El contenido de este capítulo no está listo
{%- endif %}
{% endblock %}

{#
    LATER: Remove the padding for the link and add margin to see the change of the cursor. 
    LATER: Change the color for the link and add the pills effect when hover and active 
    put this css in the head block of the chapter template. but in a different css file 
    LATER: the html todo's html comments are render and sent to the user. Change it for jinja comments
#}
{% block head %}
<script defer src="{{ url_for('static',filename='js/chapter_index.js') }}"></script>
{% endblock %}

{% block content %}

<div class="row mt-4">
    <!-- index -->
    <div class="col-md-3 d-none d-md-block sidebar rounded-3">
{# FIXME: The nav-brand is overflowing the index #}
        <nav id="chapter-index" class="nav navbar flex-column align-items-start">

        </nav>
    </div>

    <!-- main content -->

    <main class="col-md-8 px-md-4" data-bs-spy="scroll" data-bs-target="#chapter-index"
        data-bs-smooth-scroll="true">

        {% block chapter_content %}{% endblock %}
        {% if current_user.current_chapter == chapter_number %}
        <div class="d-flex justify-content-md-start justify-content-center mb-4 mt-5">
            <a href="{{ url_for('main_routes.mark_chapter_as_completed',chapter_number=chapter_number) }}" class="btn btn-primary btn-lg ms-md-5">Capítulo Completado</a>
        </div>
        {% endif %}
    </main>
</div>
{% include "commons/chapter_nav.html" %}
{% endblock %}