{% extends "layout.html" %}
{% block title %}Capítulo 2{% endblock %}
{% block description %}Poner algo{% endblock %}


{% block content %}
<div class="row mt-4">
    <!-- index -->
    <div class="col-md-4 d-none d-md-block sidebar rounded-3">

        <nav id="chapter-index" class="nav navbar nav-pills flex-column align-items-start">

        </nav>
    </div>

    <!-- main content -->

    <main class="col-md-8 ms-sm-auto px-md-4" data-bs-spy="scroll" data-bs-target="#chapter-index"
        data-bs-smooth-scroll="true">

        <!-- page 17 -->
        <h1 class="sectionlink">Tiempo, aspecto y voz</h1>
        <p>Como mencioné antes...</p>
        <p>Los verbos en inglés tienen tiempo, aspecto y voz.</p>

        <ul>
            <li><strong>Tiempo</strong>: pasado, presente y futuro.</li>
            <li><strong>Aspecto</strong>: simple, continuo, perfecto, y perfecto continuo.</li>
            <li><strong>Voz</strong>: activa o pasiva</li>
        </ul>
        <p>Y así formamos todas las frases.</p>
        <p>Usando tiempo, aspecto y voz, hacemos frases en presente simple, pasado
            simple, pasado perfecto, futuro continuo pasivo, etc.</p>
        <p>Pero ¿cómo reconocer cada cosa?</p>
        <p>Los tiempos simples, en afirmativo, no usan auxiliar – aparte del futuro
            simple con <strong>will</strong>.</p>


        <ul>
            <li>
                <p><strong>Presente simple:</strong> <em> I work. I don’t work. Do you work?</em></p>
            </li>
            <li>
                <p><strong>Pasado simple:</strong> <em>I worked. I didn’t work. Did you work?</em></p>
            </li>
            <li>
                <p><strong>Futuro simple:</strong> <em>I will work. I won’t work. Will you work?</em></p>
            </li>
        </ul>
        <p>Los tiempos continuos usan una forma del verbo <strong>to be</strong> – conjugado según el tiempo – y el
            gerundio:
        </p>
        <ul>
            <li>
                <p><strong>Presente continuo:</strong> <em>I’m working. I’m not working. Are you working?</em></p>
            </li>
            <li>
                <p><strong>Pasado continuo:</strong> <em>I was working. I wasn’t working. Were you working?</em></p>
            </li>
            <li>
                <p><strong>Futuro continuo:</strong> <em>I’ll be working. I won’t be working. Will you be
                        working?</em>
                </p>
            </li>
        </ul>
        <p>Los tiempos perfectos usan una forma de <strong>have</strong> – conjugado otra vez según el tiempo – y un
            participio
            pasado.</p>

        <!-- page 18 -->

        <ul>
            <li>
                <p><strong>Presente perfecto:</strong> <em>I’ve worked. I haven’t worked. Have you worked?</em></p>
            </li>
            <li>
                <p><strong>Pasado perfecto:</strong> <em>I had worked. I hadn’t worked. Had you worked?</em></p>
            </li>
            <li>
                <p><strong>Futuro perfecto:</strong> <em>I will have worked. I won’t have worked. Will you have
                        worked?</em>
                </p>
            </li>
        </ul>
        <p>Los tiempos perfecto-continuo usan una forma de <strong>have</strong> + <strong>been</strong> +
            gerundio. Fíjate que eso es una combinación de perfecto y continuo como
            implica el nombre: <strong>have</strong> + participio pasado (<strong>been</strong>). El been es la forma de
            <strong>to be</strong>, y va seguido de gerundio.
        </p>
        <ul>
            <li>
                <p><strong>Presente perfecto continuo</strong>: <em>I’ve been working. I haven’t been working. Have you
                        been
                        working?</em></p>
            </li>
            <li>
                <p><strong>Pasado perfecto continuo</strong>: <em>I had been working. I hadn’t been working. Had you
                        been
                        working?</em></p>
            </li>
            <li>
                <p><strong>Futuro perfecto continuo</strong>: <em>I will have been working. I won’t have been working.
                        Will
                        you have been working?</em></p>
            </li>
        </ul>


        <p>Más conjugaciones en el Apéndice 3.</p>
        <p>Es importante tener en cuenta que cada tiempo verbal tiene razones de usarse también.</p>
        <p>El presente y el pasado simple habla de acciones terminadas a un momento específico del pasado. El pasado
            perfecto habla de acciones en el pasado <strong>antes</strong> de otro momento específico.</p>
        <p>Así podemos decir cosas como:</p>
        <p><em>When I arrived, they had already left.</em> = Cuando llegué, ellos ya se habían ido. (El pasado perfecto
            had
            left habla de algo que pasó antes de que llegara.)</p>
        <p>Aclararemos las razones de usar cada tiempo verbal más adelante - de
            momento quería darte este resumen para empezar bien.</p>
        <h2 class="sectionlink">La Voz Pasiva</h2>

        <!-- page 19 -->
        <p>La voz pasiva es algo especial.</p>
        <p> Se forma usando una forma de <em>to be</em> y un participio pasado. </p>
        <p> Y tiene reglas específicas para cuándo usarla.</p>
        <p>Se usa:</p>
        <ol>
            <li>Cuando queremos quitar énfasis al sujeto y darlo al complemento.</li>
            <li>Cuando el sujeto es desconocido.</li>
            <li>Cuando el sujeto está claro o se entiende.</li>
        </ol>
        <p>Y luego hay presente, pasado, futuro, continuo, perfecto, etc. Aunque como dije en la introducción, algunos
            de
            estos tiempos son más teóricos que reales.</p>
        <p>Fíjate que solo cambia la forma del verbo <em>to be</em> según el tiempo. Luego, las reglas son iguales:
            negaciones con <em>not</em>, las formas cortas, poner el auxiliar antes del sujeto para formar la pregunta.
        </p>
        <p>Las pocas reglas se repiten en muchas estructuras diferentes.</p>
        <p>Aquí tienes todos los tiempos pasivos que se usan de verdad...</p>

        <ul>
            <li>
                <p><strong>Presente simple pasivo</strong>
                    <em>It is done. It isn’t done. Is it done?</em>
                </p>
            </li>
            <li>
                <p><strong>Pasado simple pasivo</strong>
                    <em>It was done. It wasn’t done. Was it done?</em>
                </p>
            </li>
            <li>
                <p><strong>Futuro simple pasivo</strong>
                    <em>It will be done. It won’t be done. Will it be done?</em>
                </p>
            </li>
            <li>
                <p><strong>Presente perfecto pasivo</strong>
                    <em>It has been done. It hasn’t been done. Has it been done?</em>
                </p>
            </li>
            <li>
                <p><strong>Pasado perfecto pasivo</strong>
                    <em>It had been done. It hadn’t been done. Had it been done?</em>
                </p>
            </li>
            <li>
                <p><strong>Futuro perfecto pasivo</strong>
                    <em>It will have been done. It won’t have been done. Will it have been done?</em>
                </p>
            </li>
            <li>
                <p><strong>Presente continuo pasivo</strong>
                    <em>It’s being done. It isn’t being done. Is it being done?</em>
                </p>
            </li>
            <li>
                <p><strong>Pasado continuo pasivo</strong>
                    <em>It was being done. It wasn’t being done. Was it being done?</em>
                </p>
            </li>
        </ul>
        <!-- page 20 -->
        <p>Los demás son puramente teóricos…</p>
        <p>Fíjate también en lo que <strong>NO</strong> tenemos en inglés: un subjuntivo. Para este
            tipo de frase, o usamos una condicional, o usamos presente, pasado o infinitivo – es un tema que trato en
            detalle en mi libro <em>La Guía de los Condicionales</em> y también en la web <a
                href="https://aprendemasingles.com/frases-condicionales/">aprendemasingles.com/frasescondicionales</a>
        </p>
        <p>A continuación veremos cómo formar los tiempos más comunes, además de las reglas de su uso y muchos ejemplos
            prácticos.</p>
        <p>¡Seguimos!</p>

    </main>
</div>

{% include "commons/chapter_nav.html" %}

{% endblock %}