<hr class="mt-4">

<div class="row mt-4">
    <div class="d-flex flex-column flex-md-row justify-content-evenly">
        <div>
            <p><strong>Anterior</strong>:
                {%- if number > 1 -%}
                <a href="{{ url_for('main_routes.show_chapter',number=number-1) }}">Chapter One</a>
                {%- endif -%}
            </p>
        </div>
        <div>
            <p><strong>Siguiente</strong>:
                {% if number < 23 %}<a href="{{ url_for('main_routes.show_chapter',number=number+1) }}">Chapter
                    Three</a>
                    {% endif %}
            </p>
        </div>
    </div>
</div>