{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="row justify-content-center mt-3">
    <div class="col-md-8">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show {{ 'border border-dark-subtle' if category=='warning' else '' }}" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}