<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="{{ url_for('home_routes.index') }}">Time Welsch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main_routes.my_route') }}">Mi Ruta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main_routes.summary') }}">Resumen</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_routes.why_this_book') }}">¿Por qué este libro?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_routes.about_author') }}">Sobre el autor</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_routes.contact_me') }}">Contáctame</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown" data-bs-theme="dark">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hola, {{ current_user.username }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('settings_routes.change_password') }}">Cambiar Contraseña</a></li>                    
                        <li><button class="dropdown-item text-danger" type="button" data-bs-target="#deleteModal" data-bs-toggle="modal">Eliminar Cuenta</button>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('login_routes.logout') }}">Cerrar Sessión</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_routes.login') }}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register_routes.register') }}">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>