{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Página de cambio Contraseña{% endblock %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("changePassworForm").submit();
    }
</script>
{% endblock %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mt-5">Cambiar Contraseña</h1>
        <form method="post" novalidate id="changePassworForm">
            {{ form.csrf_token }}
            {{ input(form.old_password) }}
            {{ input(form.new_password) }}
            {{ input(form.confirmation) }}
            <div class="form-group">
                <button class="btn btn-secondary g-recaptcha" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}