{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Inicio de sesión{% endblock %}

{% block title %}Iniciar Sesión{% endblock %}

{% block head %}
<!-- <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("loginForm").submit();
    }
</script> -->
{% endblock %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mt-3">Iniciar Sesión</h1>
        <form method="post" novalidate id="loginForm">
            {{ form.hidden_tag() }}
            {{ input(form.username) }}
            {{ input(form.password) }}
            {{ form.remember_me(class_="ms-2") }}
            {{ form.remember_me.label(class_="mb-3") }}
            <div class="form-group">
                <button class="btn btn-secondary w-100 py-2 fs-5">Enviar</button>
                <!-- <button class="btn btn-secondary g-recaptcha w-100 py-2 fs-5" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button> -->
            </div>
        </form>
        <p class="text-center mt-2">
            <a href="{{ url_for('login_routes.reset_password_request') }}" class="link-underline link-underline-opacity-0 fs-6">¿Olvidaste tu contraseña?</a>
        </p>

        <div class="d-flex justify-content-center"><hr class="w-50 me-3"> o <hr class="w-50 ms-3"></div>
        
        <button class="btn btn-secondary w-100 py-2 fs-6" data-bs-toggle="modal" data-bs-target="#demoModal">Empezar como Usuario Demo</button>

        <!-- Modal -->
        <div class="modal fade" id="demoModal" tabindex="-1" aria-labelledby="demoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h1 class="modal-title fs-5 text-center" id="demoModalLabel">Selecciona tu Usuario Demo</h1>
                    </div>
                    <div class="modal-body d-flex flex-column flex-md-row justify-content-around align-items-center">
                        <button type="button" class="btn btn-primary w-50 my-3 mx-3">Principiante</button>
                        <button type="button" class="btn btn-secondary w-50 my-3 mx-3">Intermedio</button>
                        <button type="button" class="btn btn-success w-50 my-3 mx-3">Avanzado</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <br>
        <form action="/demo_confirm" method="post">
            <button>Demo Confirm</button>
        </form>
        <form action="/demo_unconfirm" method="post">
            <button>Demo Unconfirm</button>
        </form>
        <form action="/demo_delete" method="post">
            <button>Demo Delete</button>
        </form> -->
    </div>
</main>
{% endblock %}