{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Inicio de sesión{% endblock %}

{% block title %}Iniciar Sesión{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("loginForm").submit();
    }
</script>
{% endblock %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mt-3">Iniciar Sesión</h1>
        <form method="post" novalidate id="loginForm">
            {{ form.hidden_tag() }}
            {{ input(form.username) }}
            {{ input(form.password) }}
            {{ form.remember_me(class_="ms-2") }}
            {{ form.remember_me.label(class_="mb-3") }}
            <div class="form-group">
                <button class="btn btn-secondary g-recaptcha w-100 py-2 fs-5" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button>
            </div>
        </form>
        <p class="text-center my-1">
            <a href="{{ url_for('login_routes.reset_password_request') }}" class="link-underline link-underline-opacity-0 fs-6">¿Olvidaste tu contraseña?</a>
        </p>
        <p class="text-center my-1">
            <a href="{{ url_for('register_routes.register') }}" class="link-underline link-underline-opacity-0 fs-6">¿No tienes una cuenta?</a>
        </p>

        <div class="d-flex justify-content-center"><hr class="w-50 me-3"> o <hr class="w-50 ms-3"></div>
        
        <button class="btn btn-secondary w-100 py-2 fs-6" data-bs-toggle="modal" data-bs-target="#demoModal">Empezar como Usuario Demo</button>

        <!-- Modal -->
        <div class="modal fade" id="demoModal" tabindex="-1" aria-labelledby="demoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h1 class="modal-title fs-5 text-center" id="demoModalLabel">Selecciona tu Usuario Demo</h1>
                    </div>
                    <div class="modal-body">
                        Estas son solo cuentas de prueba las cuales serán eliminadas al día de creadas.
                    </div>
                    <div class="modal-body d-flex flex-column flex-md-row justify-content-around align-items-center">
                        <a class="btn btn-primary w-50 my-3 mx-3" href="{{ url_for('login_routes.login_user_demo',level='principiante') }}">Principiante</a>
                        <a class="btn btn-secondary w-50 my-3 mx-3" href="{{ url_for('login_routes.login_user_demo',level='intermedio') }}">Intermedio</a>
                        <a class="btn btn-success w-50 my-3 mx-3" href="{{ url_for('login_routes.login_user_demo',level='avanzado') }}">Avanzado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}