{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Registro de una nueva cuenta{% endblock %}

{% block title %}Registrarse{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("registerForm").submit();
    }
</script>
{% endblock %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mt-3">Registrarse</h1>
        <form method="post" novalidate id="registerForm">
            {{ form.hidden_tag() }}
            {{ input(form.username) }}
            {{ input(form.email) }}
            {{ input(form.password) }}
            {{ input(form.confirmation) }}
            <div class="form-group">
                <button class="btn btn-secondary g-recaptcha w-100 py-2 fs-5" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button>
                </div>
            </form>
            <p class="text-center my-1">
                <a href="{{ url_for('login_routes.login') }}" class="link-underline link-underline-opacity-0 fs-6">¿Ya tienes una cuenta?</a>
            </p>
    </div>
</main>
{% endblock %}