{# LATER: change the name of the register_login folder to account_managment #}
{# LATER: change the name of this file to reset_password_request register_login #}
{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Página de constraseña olvidada{% endblock %}

{% block title %}Contraseña olvidada{% endblock %}

{% block head %}
<!-- <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("changePassworForm").submit();
    }
</script> -->
{% endblock %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-lg-8">
        <h1 class="text-center mt-5">Contraseña Olvidada</h1>
        <p>Por favor introduce el correo con el que registraste tu cuenta para enviarte un link para 
            que puedas reestablecer tu contraseña</p>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="post" novalidate id="changePassworForm">
                    {{ form.hidden_tag() }}
                    {{ input(form.email) }}
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Enviar</button>
                        <!-- <button class="btn btn-secondary g-recaptcha" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                            data-action="submit">Enviar</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}