{% extends "layout.html" %}
{% from "commons/macros.html" import input %}

{% block description %}Página de reestablecimiento de contraseña{% endblock %}

{% block title %}Reestablecer Contraseña{% endblock %}

{% block head %}
<!-- <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("resetPassworForm").submit();
    }
</script> -->
{% endblock %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mt-5">Reestablecer Contraseña</h1>
        <form method="post" novalidate id="resetPassworForm">
            {{ form.csrf_token }}
            {{ input(form.password) }}
            {{ input(form.confirmation) }}
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Enviar</button>
                <!-- <button class="btn btn-secondary g-recaptcha" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button> -->
            </div>
        </form>
    </div>
</main>
{% endblock %}