{% extends "layout.html" %}

{% block description %}Esta es una página para que puedas ponerte en conctato{% endblock %}

{% block title %}Contáctame{% endblock %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Contáctame</h1>
        <p>¡Me encantaría saber de ti! Si tienes alguna pregunta, comentario o simplemente quieres decirme hola, no
            dudes en
            comunicarte conmigo mediante cualquiera de los métodos que se indican a continuación.</p>

        <form action="/send-message" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</div>

{% endblock %}