{% extends "layout.html" %}
<!-- TODO: How can i get the content of the label to put in the placeholder of the input -->
<!-- TODO: How to add a conditional class -->



{% block content %}

{% macro input(field) %}

<div class="form-floating mb-4">

    {{ field(class="form-control", id=field.id, placeholder=field.name | capitalize()) }}
    {{ field.label(for=field.id) }}
</div>

{% endmacro %}

<br><br>

<div class="shadow p-3 mb-3 bg-body-tertiary rounded">
    <h1>Fill the form</h1>
    <br>
    <!-- <style>
        .is-invalid .form-control {
            border-color: #dc3545;
        }

        .invalid-feedback {
            display: block;
            color: #dc3545;
        }
    </style> -->
    <form method="post">
        {{ form.hidden_tag() }}
        {{ input(form.name) }}
        {{ input(form.age) }}
        {{ input(form.sex) }}

        {{ form.submit(class="btn btn-secondary") }}
    </form>

</div>

{% endblock %}