{% extends "layout.html" %}

{% block head %}

<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("registerForm").submit();
    }
</script>
{% endblock %}


{% block content %}

{% macro input(field) %}

<div class="form-floating mb-4">

    {{ field(class="form-control position-relative " + ("is-invalid" if field.errors else ""), id=field.id,
    placeholder=field.label.text)}}
    {{ field.label(for=field.id) }}
    {% if field.errors %}
    <div class="invalid-feedback ms-1 position-absolute">{{ field.errors[0] }}</div>
    {% endif %}
</div>

{% endmacro %}

<br><br>

{% if username %}

<h1>Hi {{ username }}</h1>

{% else %}

<div class="shadow p-3 mb-3 bg-body-tertiary rounded">
    <h1>Fill the form</h1>
    <br>

    <form method="post" novalidate id="registerForm">
        {{ form.hidden_tag() }}
        {{ input(form.username) }}
        {{ input(form.email) }}
        <div class="form-group">
            {#{{ form.submit(class="btn btn-secondary g-recaptcha",
            data-sitekey="site_key",
            data-callback="onSubmit",
            data-action="submit") }}#}

            <button class="btn btn-secondary g-recaptcha" ,data-sitekey="{{ site_key }}" ,data-callback="onSubmit"
                ,data-action="submit">Submit</button>
        </div>
    </form>

</div>

{% endif %}

{% endblock %}