<!-- OFFLINE: Organize the templates into different folders -->
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alejandro Hernández O'Reilly">
    <meta name="description" content="{% block description%}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon/favicon-96x96.png') }}"
        sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static',filename='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static',filename='favicon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static',filename='favicon/site.webmanifest') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='Bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column">
    {% include "navbar.html" %}

    <div class="container expand">

        {% include "flash_message.html" %}

        {% block content %}{% endblock %}

    </div>
    {% include "footer.html" %}

    <script src="{{ url_for('static',filename='Bootstrap/bootstrap.bundle.js') }}"></script>
</body>

</html>