{% extends "layout.html" %}
{% from "macros.html" import input %}

{% block description %}This is the login page{% endblock %}

{% block title %}Login{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    function onSubmit(token) {
        document.getElementById("registerForm").submit();
    }
</script>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mt-5">Login</h1>
        <form method="post" novalidate id="registerForm">
            {{ form.hidden_tag() }}
            {{ input(form.username) }}
            {{ input(form.password) }}
            <div class="form-group">
                <button class="btn btn-secondary g-recaptcha" data-sitekey="{{ site_key }}" data-callback="onSubmit"
                    data-action="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}