{% extends "layout.html" %}

{% block content %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Launch demo modal
</button>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Eliminar Cuenta</h1>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas eliminar tu cuenta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteConfirmationModal">Eliminar Cuenta</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{{ url_for('settings_routes.delete_account') }}" method="post" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="deleteConfirmationModalLabel">Confirmación de eliminación</h1>
                </div>
                <div class="modal-body">
                    Tu usuario es: <strong>{{current_user.username}}</strong>.<br> 
                    Por favor escríbelo aquí para eliminar tu cuenta. 
                    <input type="text" name="username" class="form-control mt-2" placeholder="Usuario" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Eliminar Cuenta</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}